* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.footer-container{
    
    background-color: black;
    color: white;
}
.f-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    gap: 20px; 
  }
  
  .f-row {
    flex: 1;
    min-width: 200px; /* Ensure rows don't get too small */
    margin: 20px;
  }
  
.f-row-head{
   font-family: "outfit";
   font-size: 30px;
   font-weight: 700;
  margin-bottom: 15px;
  margin-left: 50px;
}

.f-row p, .f-row address {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 10px;
  }
  
  .f-row input {
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    width: 90%;
    margin-top: 10px;
    transition: border-color 0.3s;
  }
  .f-row input:focus {
    border-color: #00cc66;
    outline: none;
  }
  
  .f-row img {
    margin: 10px 0;
    transition: transform 0.3s ease-in-out;
  }

  @media (max-width: 768px) {
    .f-content {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .f-row {
      margin: 10px 0;
    }
  
    .f-row input {
      width: 100%;
    }
  }
  @media (max-width: 480px) {
    .f-row-head {
      font-size: 20px;
    }
  
    .f-row p, .f-row address {
      font-size: 12px;
    }
  
    .f-row svg {
      margin-right: 10px;
      width: 24px;
      height: 24px;
    }
  }
  
  .footer-container p {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    font-weight: 500;
    color: #ccc;
  }  